################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/.vs/NewsPortal
/.vs
/API/NewsPortal/bin/Debug/net5.0
/API/NewsPortal/obj
